:root {
  --action-primary: #64adac;
  --action-secondary: #45a3fb;
}

.home-page,
.login-page,
.forgot-page,
.register-page,
.verify-otp-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--action-primary), var(--action-secondary));
  width: 100%;
  height: 100vh;
}
